<template>
  <el-container>
    <el-header>
      <Header />
    </el-header>
    <el-aside style="width: 230px">
      <el-scrollbar style="height: 100%; width: 230px">
        <Aside />
      </el-scrollbar>
    </el-aside>
    <el-main>
      <transition name="fade-transform" mode="out-in">
        <div style="height: calc(100vh - 140px)">
          <router-view />
        </div>
      </transition>
      <el-footer>
        <Footer />
      </el-footer>
    </el-main>
  </el-container>
</template>

<script>
import Aside from "../components/common/Aside";
import Header from "../components/common/Header";
import Footer from "../components/common/Footer";

export default {
  name: "index",
  components: {
    Aside,
    Header,
    Footer,
  },
};
</script>

<style scoped>
.el-container {
  width: 100%;
  min-height: 100%;
  padding: 60px 0 0 200px;
  min-width: 1300px;
  background: #f7f8fa;
}
.el-header {
  background-color: #2872d9;
  color: #fff;
  z-index: 1001;
}
.el-footer {
  background-color: #fff;
  color: rgb(102, 98, 98);
  line-height: 60px;
  font-size: 14px;
  text-align: center;
  width: 100%;
}
.el-header {
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  padding: 0;
}

.el-aside {
  background-color: #fff;
  /* background-color: #096DDE; */
  color: #333;
  position: fixed;
  top: 60px;
  left: 0;
  height: calc(100% - 60px);
  overflow: hidden;
  z-index: 1001;
  overflow-x: hidden;
}

.el-main {
  /* background-color: #e9eef3; */
  padding: 23px 30px;
  min-height: calc(100vh - 120px);
  width: calc(100% - 45px);
  background: #fff;
  margin-left: 48px;
}

/* fade-transform */
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all 0.5s;
}

.fade-transform-enter {
  opacity: 0;
  transform: translateX(-30px);
}

.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

.el-main >>> .page-header {
  height: 35px;
  /* padding: 5px 0 0; */
  position: relative;
  margin-bottom: 15px;
}
.el-main >>> .page-header .page-header-title {
  height: 22px;
  line-height: 22px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  border-left: 4px solid #0079fe;
  padding-left: 8px;
}
</style>
