* {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
          box-sizing: border-box;
  -webkit-tap-highlight-color:transparent;
}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, figure, nav, footer, header,
dl, dt, dd, ul, ol, li,
fieldset, lengend, button, input, textarea,
th, td, tr,
pre {
  margin: 0;
}
ul, ol, menu, td {
  padding: 0;
}
ul, ol ,li{
  list-style: none;
}
address, cite, dfn, em, var {
  font-style: normal;
}
a {
  text-decoration: none;
  color: black;
}
.clearFloat {
	zoom: 1;
}
.clearFloat:after {
  content: '';
  display: block;
  clear: both;
}
img {
	border: none;
}
button{
  outline: none;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
input,
select{
  outline: none;
  background-color: transparent;
}
textarea{
  outline: none;
}
form{
  margin: 0;
  padding: 0;
}

.d-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-wrap: wrap;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.d-inline-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-box;
  display: inline-flex;
}
.flex-wrap{
  -webkit-box-wrap: wrap;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flex-nowrap {
  -webkit-box-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.flex-wrap-reverse {
  -webkit-box-wrap: reverse;
  -ms-flex-wrap: reverse;
  -webkit-flex-wrap: reverse;
  flex-wrap: reverse;
}
.flex-row {
  -webkit-box-orient: horizontal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}
.flex-column {
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.justify-content-start{
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.justify-content-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.justify-content-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.justify-content-around {
  -webkit-box-pack: justify;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
.justify-content-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.align-items-start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.align-items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.align-items-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
.align-items-baseline {
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  -webkit-align-items: baseline;
  align-items: baseline;
}
.align-content-start {
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  -webkit-align-conten: flex-start;
  align-content: flex-start;
}
.align-content-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-conten: center;
  align-content: center;
}
.align-content-end {
  -webkit-box-align: flex-end;
  -ms-flex-align: flex-end;
  -webkit-align-conten: flex-end;
  align-content: flex-end;
}
.align-content-between {
  -webkit-box-align: space-between;
  -ms-flex-align: space-between;
  -webkit-align-conten: space-between;
  align-content: space-between;
}
.align-content-around {
  -webkit-box-align: space-around;
  -ms-flex-align: space-around;
  -webkit-align-conten: space-around;
  align-content: space-around;
}
.align-content-stretch {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-conten: stretch;
  align-content: stretch;
}

html{
  font-size: -ms-calc(100vw / 7.5);
  font-size: -moz-calc(100vw / 7.5);
  font-size: -o-calc(100vw / 7.5);
  font-size: -webkit-calc(100vw / 7.5);
  font-size: calc(100vw / 7.5);
}
@media(min-width: 750px) {
  html{
    font-size: 100px;
  }
}